:root {
    --home-bg: #001845;
    --home-header-bg: #001233;
    --footer-bg: #00001f;
    --footer-color: #8b909d;
    --button-bg: #023E7D;
    --dd-bg: #0353A4;
}

:global(*) {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-family: "Fira Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.home-page, .about-page {
    background-color: var(--home-bg);
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
}

.header-home {
    background-color: var(--home-header-bg);
    padding: 3rem;
}

#logo-png {
    height: 16rem;
}

.map {
    display: grid;
    position: relative;
    padding: 3rem 4rem;
    margin-top: auto;
    background-color: var(--home-bg);
    cursor: crosshair;
}
#coords {
    position: absolute;
    justify-items: left;
}


.Click-area {
    width: 79%;
    height: 94%;
    position: absolute;
    grid-area: 1 / 1;
}

#map-png {
    width: 100%;
    grid-area: 1 / 1;
}

.footer {
    background-color: var(--footer-bg);
    color: var(--footer-color);
    padding: 0.7rem 1rem;
    margin-top: auto;
    font-size: large;
}

.footer a:link {
    color: var(--footer-color);
    text-decoration: none;
}
.footer a:hover {
    color: var(--footer-color);
    text-decoration: underline;
}
.footer a:visited {
    color: var(--footer-color);
    text-decoration: none;
}
.footer a:active {
    color: var(--footer-color);
    text-decoration: underline;
}

.about-section {
    background-color: var(--home-header-bg);
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.about-section h1 {
    font-size: 4rem;
    margin: 2rem;
}

.about-section button {
    padding: 0.5rem 1rem;
    font-size: x-large;
    background-color: var(--button-bg);
    border-radius: 0.3rem;
    margin-bottom: 2rem;
    color: white;
}

.about-pics {
    height: fit-content;
    background-color: var(--home-bg);
    padding: 10rem;
    padding-top: 4rem;
}

.about-pics h1 {
    margin: 4rem;
}

.team-pics {
    display: flex;
    justify-content: space-between;
}

.team-pics img {
    border-radius: 50%;
    width: 20rem;
}

.pic a:link {
    color: white;
    text-decoration: none;
}
.pic a:hover {
    color: white;
    text-decoration: underline;  
}
.pic a:visited {
    color: white;
    text-decoration: none;
}
.pic a:active {
    color: white;
    text-decoration: underline;
}

.pic p {
    font-size: x-large;
}

.dd-page {
    background-color: var(--dd-bg);
    color: white;
    width: 100vw;
}

#dd-dive-img {
    width: 100vw;
    top: 0;
}

.dd-main {
    min-height: 100vh;
    height: fit-content;
    background-color: var(--dd-bg);
}

.dd-main h1 {
    text-align: left;
    padding-left: 4rem;
}

.dd-creatures {
    padding: 5rem;
}