<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="{{url_for('static', filename='explorso_favicon.png')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Home - ExplorSO</title>
  </head>
  <body>
    <main class="home-page">
      <section class="header-home">
        <img id="logo-png" src="{{url_for('static', filename='explorso_logo.png')}}">
        <h1>Explore the SubOcean and the Creatures that Live Within.</h1>
      </section>
      <section class="map">
        <!-- map -->
        <div class="Click-area">
          <div id="coords">
            <div id="lat"></div>
            <div id="long"></div>
          </div>
        </div>
        <img id="map-png" src="{{url_for('static', filename='explorso_map.png')}}">
      </section>
      <script src="../static/get-x-y.js"></script>
      <section class="footer">
        <p><a href="{{ url_for('about') }}">About</a></p>
        <p><a href="https://github.com/eccortes4/FullyHacks-2026" target="_blank">Github</a></p>
        <p>Made with 💙</p>
      </section>
    </main>
  </body>
</html>
